.main-container {
  padding: 0;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  max-width: 100%;
}

.container > * {
  margin: 1rem 0;
}

.container_center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}

.mindmap-table__table {
  max-height: 100%;
  max-width: 550px;
}

.mindmap-table__brief-info_font-size_s {
  font-size: 0.8rem;
}

.mindmap-table__brief-info_font-weight_b {
  font-weight: 900;
}

.mindmap-table__edit-delete {
  display: flex;
  flex-direction: column;
}

.mindmap-table__button {
  margin: 0.2rem;
}

.bem-button {
  margin: 0.2rem;
}

.mindmap-form {
  max-width: 400px;
}

.mindmap-form__input {
  margin: 1rem 0;
}
