.container {
  padding: 0;
  height: 100vh;
}

.mindmap-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  max-width: 100%;
}

.mindmap-container > * {
  margin: 1rem;
}

.mindmap-container_center {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}

.mindmap-table__table {
  max-height: 100%;
  max-width: 550px;
}

.mindmap-table__brief-info_font-size_s {
  font-size: 0.8rem;
}

.mindmap-table__brief-info_font-weight_b {
  font-weight: 900;
}

.mindmap-table__edit-delete {
  display: flex;
  flex-direction: column;
}

.mindmap-table__button {
  margin: 0.2rem;
}

/* For create2 endpoint */
/* h1 {
  font-size: 3.2rem;
  margin-top: 3rem;
}

input[type="text"] {
  max-width: 300px;
}

textarea {
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.subtitle {
  margin-bottom: 0;
}

.branch-pad {
  display: flex;
  justify-content: center;
  overflow: hidden;
  min-height: 5rem;
}

.branch-select {
  border: 2px solid red;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  margin: 2rem;
  white-space: nowrap;
  align-self: center;
}

.branch-select:hover,
.branch-select:focus {
  box-shadow: 0 0 1rem gray;
}

.branch-selected {
  background: red;
  color: white;
}

.branch-content {
  overflow-y: scroll;
} */
